@font-face {font-family:"STARWARS";
    src:url("./font/STARWARS.eot") format("eot"),
     url("./font/STARWARS.woff")
      format("woff"),
      url("./font/STARWARS.ttf") format("truetype"),
      url("./font/STARWARS.svg#STARWARS") format("svg");
      font-weight:normal;font-style:normal;}

body{
    background-image: url("../src/images/background.png");
    background-size: cover;
}

p {
    font-size: large;
    max-width: 240px;
    text-align: center;
    margin: 4px auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.no-display{
    display: none;
}



form {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 400px;
    background-color: rgba(0,0,0,0.5);
    color: #e4da4a;
    border: 2px solid #e4da4a;
    /* background: #34baee; */
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form label {
    padding: 10px 40px;
    background: #83e7f9;
    opacity: 1;
    background: rgba(0,0,0,0);
    
}

#hero {
    margin: 100px  auto -24px;
}

h1 {
    font-family: STARWARS;
    text-align: center;
    font-size: 100px;
    width: 100%;
    color: white;
    margin: -24px 0 auto;

}
h2 {
    margin: 0 auto;
    color: rgba(0,0,0,0);
    -webkit-text-stroke: 2px #e4da4a;
    font-size: 40px;
    text-align: center;
}

button {
    transition: .3s;
    border:none;
    width: 100%;
    /* width: 100%; */
    align-self: center;
    background-color: rgba(0,0,0,0);
    color: #e4da4a;
    font-size: large;
    
}
button:hover {
    transition: .3s;
    cursor: pointer;
    font-size: x-large;

}
#input_btn {
    transition: .3s;
    /* background-color: #83e7f9; */
    border:none;
    width: 100%;
    align-self: center;
    background: rgba(0,0,0,0);
    color: #e4da4a;  
    border: solid 2px #e4da4a;
}
#input_btn:hover {
    transition: .3s;

    
    cursor: pointer;
    transform: scale(1.13);
}

.wrapper {
    display: flex;
    flex-direction: column; 
    
    margin-bottom: 100px;  
    
}
.result-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto; 
    margin-bottom: 100px;
    transition: 0.5s;
    
    
}
@media (max-width: 740px){
    .result-wrapper {
        flex-direction: column;
    } 
    img {
        min-width: 91.5vw;
    }

    body .resultDiv2 h2 {
        margin-top: 0px;
    }

    body .result-wrapper div {
        background-color: white;
        opacity: .9;
        padding: 20px;
        margin-top: 0;
    }
}


.result-wrapper div {
    background-color: white;
    opacity: .9;
    padding: 20px;
    margin-top: 100px;
}
.result-wrapper h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    color: black;
    box-shadow: none;
}
.result-wrapper p {
    text-align: center;
    color: black;
}
.result-wrapper h1 {
    margin-top: 20px;
}

.resultDiv2 h2 {
    margin-top: 150px;
    color: black;
    -webkit-text-stroke: 0;
    text-align: center;
}
.resultDiv2 button {
    color: black;
}

select {
    background: rgba(0,0,0,0);
    color: #e4da4a;  
    border: solid 1px #e4da4a;
    padding: 4px;
    margin: 10px 0;
    font-size: large;
    width: 100%;
}

option {
    background-color: #050505;
}


input {
    padding: 4px;
    margin: 10px 0;
    width: 94%; 
    font-size: large;
    background: rgba(0,0,0,0);
    color: #e4da4a;  
    border: solid 1px #e4da4a;
}



.btnDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    background: rgba(0,0,0,0);
    color: #e4da4a;  
    border: solid 1px #e4da4a;
}

.optionSection {
    padding: 10px 40px;
    /* background: #83e7f9; */
    opacity: 1;
}

.active {
    font-size: x-large;
}

img {
    max-width: 445px;
    width: 65vw;
    margin: auto;
}

